* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --mobile-menu-margin-with: 20px;
  --mobile-menu-padding: 16px;
  --mobile-menu-margin: 0 var(--mobile-menu-margin-with);

  --body-background: white;
  --second-color: black;
  --link-text: black;
  --border-global-color: #ccc;
  --drop-down-menu-calor: #f1f1f1;
  --mobile-nav-bar-color: white; 
}

body {
  background-color: var(--body-background);
}

.Container {
  width: min(100% - 32px, 1248px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}



@media (max-width: 1023px) {
  .Container {
    width: min(100% - 18px);
    gap: 8px;
    padding: 8px 0;
  }
}

@media (max-width: 767px) {
  .Container {
    width: calc(100% - 2px);
    gap: 0;
    /* flex-direction: column; */
    padding: 0;
  }
}
