.mobileMenu {
  z-index: 1;
  position: absolute;
  background-color: rgb(155, 155, 155);
  border-radius: 10px;
  height: calc(90vh - 70px); /* auto*/
  margin: var(--mobile-menu-margin);
  padding: var(--mobile-menu-padding);
  width: calc(
    320px - (var(--mobile-menu-padding) + var(--mobile-menu-padding))
  );
  display: none;
}

@media screen and (max-width: 544px) {
  .mobileMenu {
    left: 0;
    right: 0;
    width: calc(
      100% -
        (
            var(--mobile-menu-padding) + var(--mobile-menu-padding) +
            var(--mobile-menu-margin-with) + var(--mobile-menu-margin-with)
        )
    );
  }
}

@media screen and (max-width: 1012px) {
  .mobileMenu {
    right: 20px;
    display: block;
  }
}
