nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link{
    text-decoration: none;
    color: var(--link-text);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
    color: rgb(103, 103, 103);
}

a.active{
    /* background-color: rebeccapurple; */
}

/* Stilovi za male ekrane */
@media screen and (max-width: 1012px) {
  nav {
    display: none;
  }
}
